{% extends "base.html" %}
<!-- load -->
{% load static %}
<!-- bloc -->

{% block title %} This post title {% endblock %}
<!-- css -->
{% block css_files %}
<!-- start -->
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
<!-- diflink -->
<!-- end -->
{% endblock %}
<!-- bloc -->

{%block content %} {% if comment_form.errors %}
<div id="alert">
  <h2>L'enregistrement de la commentaire a echoué</h2>
  <p>S'il vous plait esseyer encore</p>
  <a href="#comment_form">Regler l'erreur</a>
</div>
{% endif %}
<section id="summary">
  <h2>{{ post.title }}</h2>
  <div class="">
    {% for tag in post_tags %}
    <span class="tag">{{ tag.caption }}</span>
    {% endfor %}
  </div>
  <div id="read-later">
    <form action="{% url "read-later" %}" method="POST">
      {% csrf_token %}
      <input type="hidden" value="{{ post.id }}" name="post_id" />
      <button>
        {% if saved_for_later %}
        Supprimer pour la lecture plustard
        {% else %}
        lire plus tard
        {% endif %}
      </button>
    </form>
  </div>
  <article>
    <img
      src="{{ post.image.url }}"
      alt="{{
    post.title }}"
    />
    <address>
      By <a href="mailto:{{post.author.email_adress}}">{{ post.author }}</a>
    </address>
    <div class="">
      last update <time datetime="">{{ post.date|date:"d M Y" }}</time>
    </div>
  </article>
</section>

<main>
  <p>{{ post.content | linebreaks }}</p>
</main>

<section id="comments">
  <ul>
    {% for comment in comments %}
    <li>
      {{ comment.user_name }}
      <!-- para -->
      <p>{{ comment.text | linebreaks}}</p>
    </li>
    {% endfor %}
  </ul>
</section>

<section id="comment-form">
  <h2>Votre commentaire</h2>
  <form action="{% url 'post-detail-page' post.slug %}" method="POST">
    {% csrf_token %}
    <!-- comment -->
    {% for form_field in comment_form %}
    <div class="form_control {% if form_field.errors %} Invalid {% endif%}">
      {{ form_field.label_tag }}
      <!-- form -->
      {{ form_field }}
      <!-- form -->
      {{form_field.errors }}
    </div>
    {% endfor %}
    <button type="submit">Enregitrer</button>
  </form>
</section>
{% endblock %}
